.heading {
    height: 5rem;
    font-family: cursive;
    border-bottom: 4px solid rgb(87, 0, 0);
    color: white;
}

.heading h3 {
    font-size: 3.3rem;
}

.card-img-top {
    object-fit: cover;
}

.cart-btn {
    width: 100%;
    position: fixed;
    padding-right: 1rem;
    top: 5.1rem;
}

.cart {
    display: none;
    flex-direction: column;
    height: 600px;
    width: 350px;
    background-color: white;
    border: 1px solid black;
    position: fixed;
    right: 4rem;
    border-radius: 15px;
    overflow-y: auto;
}

.pizza-img {
    height: 4rem;
    width: 4rem;
}

.pizza {
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
    border-bottom: 1px solid black;
}

.cart-pizzas {
    margin-top: 2rem;
}

.cart-footer {
    margin-left: 2rem;
    display: flex;
}

@media (max-width: 465px) {
    .heading h3 {
        font-size: 2rem;
    }

    .cart {
        width: 275px;
        height: 400px;
    }
}